{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsiive Admin Dashboard | CodingLab </title>
    <link rel="stylesheet" href="{% static 'css/admin.css'%}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
     
   </head>
<body>
  <div class="sidebar">
    
      <ul class="nav-links">
        <li>
          <a href="{% url 'custom_admin_panel' %}" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>


        <li>
          <a href="{% url 'userlist' %}" class="active">
            <i class='bx bx-user'></i>
            <span class="links_name">Users</span>
          </a>
        </li>


        <li>
          <a href="{% url 'approval'%}" class="active">
            <i class='bx bx-user'></i>
            <span class="links_name">Technicians</span>
          </a>
        </li>

        <li>
          <a href="{% url 'approved'%}" class="active">
            <i class='bx bx-user'></i>
            <span class="links_name">Approved Technician</span>
          </a>
        </li>

        <li>
          <a href="{% url 'booking_graph'%}" class="active">
            <i class='bx bx-user'></i>
            <span class="links_name">Analysis</span>
          </a>
        </li>

        <li>
          <a href="{% url 'admin_feedback'%}" class="active">
            <i class='bx bx-user'></i>
            <span class="links_name">Feedback</span>
          </a>
        </li>
        <li>
          <a href="{% url 'admin_delivery'%}" class="active">
            <i class='bx bx-user'></i>
            <span class="links_name">Add</span>
          </a>
        </li>

        

		
        <li class="log_out">
          <a href="{% url 'logout' %}" id="logout-link" style="color: white;">
            <i class='bx bx-log-out'></i>
            <span class="">Log out</span>
          </a>
        </li>
      </ul>
  </div>


  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Admin Dashboard</span>
      </div>
    </nav>

    
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total</div>
            <hr>
            <div class="number">{{ total_registered_users }}</div>
            <!-- <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
            </div> -->
          </div>
          <!-- <i class='bx bxs-cart-add cart two' ></i> -->
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">Technicians</div>
            <hr>
            <div class="number">{{ total_registered_technicians }}</div>
            <!-- <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
            </div> -->
          </div>
          <!-- <i class='bx bxs-cart-add cart two' ></i> -->
        </div>


        <div class="box">
          <div class="right-side">
            <div class="box-topic">Users</div>
            <hr>
            <div class="number">{{ total_regular_users }}</div>
            <!-- <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
            </div> -->
          </div>
          <!-- <i class='bx bx-cart cart three' ></i> -->
        </div>

<!-- 
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Return</div>
            <div class="number">11,086</div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Down From Today</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four' ></i>
        </div>
      </div> -->
      

      <!-- <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title"></div>
          <div class="sales-details">
            <ul class="details">
              <h2>Registered Users</h2>
          </ul>
          </div>
          <div class="button">
            <a href="#">top</a>
          </div>
        </div>
        
      </div> -->
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>
